<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.clound.sacrifice.dao.SacrificeMapper">
    <resultMap id="SacrificeRegister" type="com.clound.sacrifice.module.SacrificeRegister">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="sacrifice_phonenum" property="phoneNum" />
        <result column="sacrifice_sex" property="sex" />
        <result column="sacrifice_pwd" property="pwd" />
        <result column="sacrifice_username" property="username" />
    </resultMap>

    <insert id="registerByNote">

    INSERT INTO sacri_register (sacrifice_phonenum,sacrifice_pwd,sacrifice_username) VALUE (#{phoneNum},#{pwd},#{username})

    </insert>

    <select id="loginByPwd" resultMap="SacrificeRegister">

    SELECT sacrifice_phonenum,sacrifice_sex,sacrifice_pwd,sacrifice_username FROM sacri_register WHERE sacrifice_pwd=#{pwd} and sacrifice_phonenum=#{phoneNum}
    </select>

    <select id="checkUser" resultMap="SacrificeRegister">

     select  sacrifice_phonenum,sacrifice_sex,sacrifice_pwd,sacrifice_username from  sacri_register WHERE sacrifice_phonenum=#{phoneNum}

    </select>
    <select id="VerifyOldPwd" resultMap="SacrificeRegister">

    SELECT sacrifice_phonenum,sacrifice_sex,sacrifice_pwd,sacrifice_username FROM sacri_register WHERE sacrifice_pwd=#{oldPwd} and sacrifice_phonenum=#{phoneNum}

    </select>

    <update id="changePwd">

        UPDATE sacri_register SET sacrifice_pwd=#{newPwd} WHERE sacrifice_phonenum=#{phoneNum}

    </update>

</mapper>